@{
    ViewBag.Title = "Marriott";
}

<div class="container">
    &nbsp;
</div>

<div class="container">
    <div class="jumbotron" style="text-align: center; background-color: maroon">
        <h1 style="color: white">Marriott</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading" style="text-align: center">
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <a href="\Reservation\Search" style="text-decoration: none; color: inherit;"><h2>Reservations</h2></a>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading" style="text-align: center">
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <a href="\FrontDesk" style="text-decoration: none; color: inherit;"><h2>Front Desk</h2></a>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading" style="text-align: center">
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <a href="\Housekeeping" style="text-decoration: none; color: inherit;"><h2>Housekeeping</h2></a>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-warning">
                <div class="panel-heading" style="text-align: center">
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <a href="\GuestServices" style="text-decoration: none; color: inherit;"><h2>Guest Services</h2></a>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
</div>