<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
  </configSections>
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Assembly="Marriott.Business" Namespace="Marriott.Business.Billing.Events" Endpoint="Marriott.Business.Endpoint" />
      <add Assembly="Marriott.Business" Namespace="Marriott.Business.Billing.Commands" Endpoint="Marriott.Business.Endpoint" />
      <add Assembly="Marriott.ITOps" Type="Marriott.ITOps.Invoicing.Commands.GenerateInvoice" Endpoint="Marriott.ITOps.Endpoint" />      
      <add Assembly="Marriott.Business" Namespace="Marriott.Business.RoomInventory.Commands" Endpoint="Marriott.Business.Endpoint" />
      <add Assembly="Marriott.Business" Namespace="Marriott.Business.Reservation.Commands" Endpoint="Marriott.Business.Endpoint" />
      <add Assembly="Marriott.Business" Namespace="Marriott.Business.Reservation.Events" Endpoint="Marriott.Business.Endpoint" />
      <add Assembly="Marriott.External.Events" Namespace="Marriott.External.Events" Endpoint="Marriott.Business.Endpoint" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <connectionStrings>
    <add name="BillingContext" connectionString="Data Source=(LocalDB)\MSSQLLocalDB; Initial Catalog=Marriott; Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="GuestContext" connectionString="Data Source=(LocalDB)\MSSQLLocalDB; Initial Catalog=Marriott; Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="HousekeepingContext" connectionString="Data Source=(LocalDB)\MSSQLLocalDB; Initial Catalog=Marriott; Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="MarketingContext" connectionString="Data Source=(LocalDB)\MSSQLLocalDB; Initial Catalog=Marriott; Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="PricingContext" connectionString="Data Source=(LocalDB)\MSSQLLocalDB; Initial Catalog=Marriott; Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="ReservationContext" connectionString="Data Source=(LocalDB)\MSSQLLocalDB; Initial Catalog=Marriott; Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="RoomInventoryContext" connectionString="Data Source=(LocalDB)\MSSQLLocalDB; Initial Catalog=Marriott; Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>