<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
  </configSections>
  <appSettings>
    <add key="SmtpHost" value="127.0.0.1" />
  </appSettings>
  <UnicastBusConfig>
    <MessageEndpointMappings>
      
      <!--EVENTS-->
      <add Assembly="Marriott.External.Events" Namespace="Marriott.External.Events" Endpoint="Marriott.Business.Endpoint" />
      <add Assembly="Marriott.Business" Type="Marriott.Business.Reservation.Events.ReservationConfirmed" Endpoint="Marriott.Business.Endpoint" />
      <add Assembly="Marriott.Business" Type="Marriott.Business.Reservation.Events.ReservationCancellationPolicyViolated" Endpoint="Marriott.Business.Endpoint" />
      <add Assembly="Marriott.Business" Type="Marriott.Business.Reservation.Events.ReservationNoShowPolicyViolated" Endpoint="Marriott.Business.Endpoint" />

      <!--COMMANDS-->
      <add Assembly="Marriott.ITOps" Namespace="Marriott.ITOps.Notifications.Email.Commands" Endpoint="Marriott.ITOps.Endpoint" />
      <add Assembly="Marriott.ITOps" Namespace="Marriott.ITOps.PaymentGateway.Commands" Endpoint="Marriott.ITOps.Endpoint" />
      <add Assembly="Marriott.ITOps" Namespace="Marriott.ITOps.Invoicing.Commands" Endpoint="Marriott.ITOps.Endpoint" />
      
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <connectionStrings>
    <add name="BillingContext" connectionString="Data Source=(LocalDB)\MSSQLLocalDB; Initial Catalog=Marriott; Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="GuestContext" connectionString="Data Source=(LocalDB)\MSSQLLocalDB; Initial Catalog=Marriott; Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="HousekeepingContext" connectionString="Data Source=(LocalDB)\MSSQLLocalDB; Initial Catalog=Marriott; Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="MarketingContext" connectionString="Data Source=(LocalDB)\MSSQLLocalDB; Initial Catalog=Marriott; Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="PricingContext" connectionString="Data Source=(LocalDB)\MSSQLLocalDB; Initial Catalog=Marriott; Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="ReservationContext" connectionString="Data Source=(LocalDB)\MSSQLLocalDB; Initial Catalog=Marriott; Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="RoomInventoryContext" connectionString="Data Source=(LocalDB)\MSSQLLocalDB; Initial Catalog=Marriott; Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>