@{
    ViewBag.Title = "Guest Services";
}

<div class="container">
    &nbsp;
</div>

<div class="container">
    <div class="jumbotron" style="text-align: center; background-color: #fcf8e3">
        <h1 style="color: #8a6d3b">Guest Services</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading" style="text-align: center">
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <a href="\CancelReservation" style="text-decoration: none; color: inherit;"><h2>Cancel Reservation</h2></a>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading" style="text-align: center">
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <a href="" style="text-decoration: none; color: inherit;"><h2>Extend Stay</h2></a>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
</div>