@{
    ViewBag.Title = "Front Desk";
}

<div class="container">
    &nbsp;
</div>

<div class="container">
    <div class="jumbotron" style="text-align: center; background-color: #337ab7">
        <h1 style="color: white">Front Desk</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading" style="text-align: center">
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <a href="\CheckIn" style="text-decoration: none; color: inherit;"><h2>Check In</h2></a>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading" style="text-align: center">
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <a href="\CheckOut\Search" style="text-decoration: none; color: inherit;"><h2>Check Out</h2></a>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
</div>