@using Marriott.Client.Web.Controllers

@{
    ViewBag.ProgressBar = CheckOutController.ProgressBarText;
    ViewBag.ProgressBarActiveNode = 2;
}

<div class="container">
    <div class="panel-group">
        <div class="panel panel-success">
            <div class="panel-heading">Payment Processed and Checked Out</div>
            <div class="panel-body">Thanks for staying with us!</div>
        </div>
    </div>
</div>